<div class="modal-content">
  <div class="modal-header bg-warning">
    <i class="ion-android-warning modal-icon"></i><span> APAGAR ACADEMIA</span>
  </div>
  <div class="modal-body text-center"><H2>ATENÇÃO!</H2></div>
  <div class="modal-body text-center">Esta ação não poderá ser desfeita.</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">Cancelar</button>
    <button type="button" class="btn btn-warning" ng-click="oblivium(); $dismiss()">OK</button>
  </div>
</div>
