<div><a href="#/alunos/novo_aluno"><button type="button" class="btn btn-danger">Inserir novo Aluno</button></a></div>
<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead class="thead-inverse">
  <tr class="great">
    <th></th>
    <th> Nome
    </th>
    <th class="text-center"> Cidade
    </th>
    <th class="text-center"> Bairro
    </th>
    <th class="text-center"> Academia
    </th>
     <th>
    </th>
    <th>
    </th> 
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="usuario in usuarios">
    <td class="text-center"><img class="table-img" ng-src="{{usuario.photoURL}}" ng-if="usuario.photoURL != ''"><img class="table-img" ng-src="{{::( 'acad01' | profilePicture )}}" ng-if="usuario.photoURL == ''"></td>
    <td class="great">{{usuario.displayName}}</td>
    <td class="text-center">{{usuario.cidade}}</td>
    <td class="text-center">{{usuario.estado}}</td>
    <td class="text-center">{{usuario.academiaNome}}</td>
    <td class="text-center"><button type="button" class="btn btn-primary">Editar</button></td>
    <td class="text-center"><button type="button" class="btn btn-danger"  ng-click="delUser(usuario)">Deletar</button></td>
  </tr>
  </tbody>
</table>

</div>
<br>
<div><a href="#/alunos/novo_aluno"><button type="button" class="btn btn-danger">Inserir novo Aluno</button></a></div>
